<div class="card">
  <p>company: <a href="{% url 'public_profile' item.service.company_username.username %}">{{ item.service.company_username.username|slice:":98"|truncatechars:100 }} </a> </p>
<p>field of work: {{ item.service.company_username.field_of_work }}</p>
<hr>
<p>service: {{ item.service.name|slice:":98"|truncatechars:100 }}</p>
<p>field: {{ item.service.field }}</p>
<p>price(goldens): {{ item.price }}</p>
<p>booking date: {{ item.booking_date }}</p>
<a href="{% url 'one_service' item.service.id %}">View Details</a>
</div>
{% comment %} the item here is booking {% endcomment %}
