<div class="card">
<p>company: <a href="{% url 'public_profile' item.company_username.username %}">{{ item.company_username.username|slice:":98"|truncatechars:100 }} </a> </p>
<p>field of work: {{ item.company_username.field_of_work }}</p>
<hr>
<p>service: {{ item.name|slice:":98"|truncatechars:100 }}</p>
<p>field: {{ item.field }}</p>
<p>description: {{ item.description|slice:":298"|truncatechars:300 }}</p>
<p>price(goldens per hour): {{ item.price_per_hour }}</p>
<p>date of creation: {{ item.created_date }}</p>
<a href="{% url 'one_service' item.id %}">View Details</a>
</div>
{% comment %} the item is service {% endcomment %}
